.u-section-1 .u-sheet-1 {
  min-height: 250px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: bold;
  margin: 105px auto 0;
}

.u-section-1 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  transform-origin: left center 0px;
}.u-section-2 .u-sheet-1 {
  min-height: 443px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 0%;
  filter: brightness(0.7);
  width: 570px;
  left: 0;
  right: auto;
}

.u-section-2 .u-group-1 {
  width: 418px;
  min-height: 151px;
  background-image: none;
  height: auto;
  margin: 146px auto 0 76px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 36px 0 0;
}

.u-section-2 .u-group-2 {
  width: 533px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 381px;
  margin: -268px 0 33px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 13px 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
  }

  .u-section-2 .u-group-1 {
    min-height: 174px;
    margin-top: 163px;
    margin-left: 26px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-group-2 {
    width: 425px;
    min-height: 467px;
    margin-top: -313px;
    margin-bottom: 24px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 17px;
    margin-left: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 66px;
    margin-right: 90px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 80px;
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-top: 41px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 45px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 94px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-2 {
    margin-top: 75px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1894px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 761px;
  height: 257px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: normal;
  margin: 20px 0 0 20px;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  height: 402px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1880px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1819px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1752px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 115px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, #fdfdfd);
}

.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-line-1 {
  margin-top: 89px;
  margin-bottom: 60px;
  transform-origin: right center 0px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 502px;
}

.u-section-5 .u-image-1 {
  object-position: 50% 14.45%;
  filter: brightness(0.75);
  width: 570px;
  height: 476px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-group-1 {
  width: 418px;
  min-height: 150px;
  background-image: none;
  height: auto;
  margin: -313px 76px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0;
}

.u-section-5 .u-group-2 {
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 381px;
  width: 533px;
  margin: -265px auto 60px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 13px;
}

.u-section-5 .u-text-2 {
  margin: 0 0 0 17px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 473px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -311px;
    margin-right: 26px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-group-2 {
    min-height: 452px;
    width: 425px;
    margin-top: -301px;
    margin-bottom: 28px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 362px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -246px;
    margin-right: 23px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
    margin-bottom: 46px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-5 .u-image-1 {
    width: 270px;
    height: 272px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -218px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 15px;
    margin-bottom: 23px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-5 .u-image-1 {
    width: 170px;
    height: 171px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -117px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2006px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 20px 0 0 17px;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-image-1 {
  height: 606px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-6 .u-text-11 {
  margin: 11px 0 0;
}

.u-section-6 .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-image-2 {
  width: 1019px;
  height: 363px;
  margin: 17px auto 0;
}

.u-section-6 .u-text-13 {
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    height: 506px;
    margin-top: 18px;
  }

  .u-section-6 .u-image-2 {
    width: 940px;
    height: 335px;
  }

  .u-section-6 .u-text-13 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1953px;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1889px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1818px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 122px;
  }
} .u-section-7 {
  background-image: linear-gradient(#fdfdfd, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 177px;
}

.u-section-7 .u-line-1 {
  margin-top: 88px;
  margin-bottom: 60px;
  transform-origin: right center 0px;
}.u-section-8 .u-sheet-1 {
  min-height: 502px;
}

.u-section-8 .u-image-1 {
  filter: brightness(0.75);
}

.u-section-8 .u-group-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: bold;
  margin: 0 auto 0 8px;
}

.u-section-8 .u-group-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 348px;
  width: 522px;
  height: auto;
  margin: 8px 48px 34px auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-text-2 {
  margin: 0 20px 0 30px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-8 .u-group-2 {
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-8 .u-group-1 {
    width: 417px;
    min-height: 164px;
    margin: 84px auto 0 59px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-2 {
    min-height: 381px;
    width: 533px;
    margin-top: 105px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-group-2 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1610px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-text-7 {
  font-weight: 400;
  margin: 20px 0 0 17px;
}

.u-section-9 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-9 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-9 .u-text-10 {
  margin: 21px 0 0;
}

.u-section-9 .u-text-11 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-image-1 {
  height: 363px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-9 .u-text-12 {
  font-weight: 400;
  margin: 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-7 {
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-left: 0;
  }
}